{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <!--Import Google Icon Font-->
    <meta charset="UTF-8">
    <title>TaloScope</title>
     <!--Import Google Icon Font-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'mystyle.css' %}"  media="screen,projection"/>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper main-nav blue-grey darken-4">
        {% if request.user.is_autheticated %}
        <a href="{% url 'home' username='request.user.username' %}" class="brand-logo">
            <img class="responsive-img" src="{% static 'images/images/taloscope6.png' %}" style="margin-left:30px;height:50px;" ></a>
        {% else %}
        <a href="{% url 'signin' %}" class="brand-logo">
            <img class="responsive-img" src="{% static 'images/images/taloscope6.png' %}" style="margin-left:30px;height:50px;" ></a>
        {% endif %}


        </div>
    </div>

    </nav>

<div class="">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>