{% extends 'base.html' %}
{% block content %}
{% if validlink %}
<div class="container">
  <div class="row"></div>

    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      <div class="input-field">
      <label for="id_new_password1">New password:</label> <input type="password" name="new_password1" required id="id_new_password1" />
        <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span>
        </div>
      <div class="input-field">
<label for="id_new_password2">New password confirmation:</label> <input type="password" name="new_password2" required id="id_new_password2" />
      </div>
      <div class="col s12">
      <button class="btn waves-effect" type="submit">Change password</button>
        </div>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>


</div>
{% endif %}
{% endblock %}