{% extends 'dashboard/base.html' %}
{% block title %}taloscope | certification{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<div class="container grey-darken-2 ">
    <div class="row">
    <div class="col s12 " style="margin-top:20px;"> <button class="btn-floating btn-flat waves-effect grey lighten-1" onclick="goBack()"><i class="material-icons">arrow_back</i></button></div>
        </div>
<div class="row gen-form center-align" style="">
    <div class="row">
      <div class="col s12"><h4>Certifications</h4></div>
        </div>
<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="row">
        <div class="input-field">
            <i class="material-icons prefix">book</i>
    <label for="id_title">Title:</label> <input type="text" name="title" value="{{cert.title}}" maxlength="128" required id="id_title" />
        </div>
    </div>
    <div class="row">

        <div class=" input-field">
            <i class="material-icons prefix">date_range</i>
<label for="id_year">Year:</label> <input type="text" name="year" value="{{cert.year|date:'Y-m-d'}}"  id="id_year" />
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <i class="material-icons prefix">cast</i>
<label for="id_link">Link:</label> <input type="url" name="link" value="{{cert.link}}" maxlength="200" id="id_link" />
        </div>
    </div>
    {% if cert.cert_image %}
    <div class="row">
        <div class="col s10">
<label for="id_cert_image">Cert image:</label> Currently: <a href="{{cert.cert_image.url}}">{{cert.cert_image.url}}</a>
        </div>
        <div class="col s2">
            <label>
        <input type="checkbox" name="cert_image-clear" id="cert_image-clear_id" />
        <span>clear</span>
      </label>

            </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="file-field input-field">
      <div class="btn">
        <span>Select New File</span>
        <input name="cert_image" type="file" id="id_cert_image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    </div>
    <div class="row">
        <div class="col s12 center-align ">
            <button style="width:100%;" type="submit" class="waves-effect waves-light btn"><i class="material-icons center"></i>Add</button>
        </div>
    </div>
</form>
</div>
</div>
<script>
    $(function () {
      $("#id_year").datetimepicker({format: 'Y-m-d',});
    });
  </script>
{% endblock %}