
.container{
width:90% !important;
}


.body{
 background-image: ;
 }

.top-icons .msg {
margin-left:-15px !important;
visibility:hidden;
}

.top-icons:hover .msg {
margin-left:-25px !important;
visibility:visible;
}


nav {
    height: 50px !important;
    line-height: 50px !important;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px !important;
    line-height: 50px !important;
}

nav .button-collapse i {
    height: 50px !important;
    line-height: 50px !important;
}

nav .brand-logo {
    font-size: 2 rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px !important;
        line-height: 50px !important;
    }
}

.nav-container{
width:80%;
}

nav.nav-center ul {
    text-align: center;
    font-weight:bold;

}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
    font-color:black !important;
}

nav.nav-center a:hover{
}





i.icon-blue{
color:#281E52;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.info-box{
font-weight:600;
font-size:14px;
}

.about_info{
margin-top:5px;
font-size:14px;
font-weight:600;
color:#616161;
margin-left:8px;
}

.resume-subhead{
font-weight:550;
color:#00695c;
font-size:18px;
}

.resume-subhead-info{
margin-top:;
font-size:14px;
font-weight:600;
color:#424242 !important;
margin-left:;

}

.resume-subhead-info-big{
margin-top:-1px;
font-size:14px;
font-weight:600;
color:#424242;
margin-left:;
}

.contact-box{
margin-top:5px;
font-size:14px;
font-weight:600;
color:#424242;
}

.contact-box i{
margin-top:3px;
}





.btn, .btn-large, .btn-small, .btn-floating, .btn-large, .btn-small, .btn-flat{
font-weight:bold;
text-transform: none !important;
background-color: !important;
}

.skill_col_empty{
margin-top:-12px;
}



.about_col{
margin-top:-12px;
}

.home_nav ul {
  list-style-type: none;
  overflow: hidden;

}

.home_nav li {
  float: left;
}

.home_nav li a {
  display: block;
  color: #616161;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:16px;
  font-weight:bold;
}

.home_nav li a:focus{
border-bottom:3px solid #00bfa5 !important;
background-color:white;
color: #00bfa5;
   }

.home_nav li a:hover{
border-bottom:2px solid #00bfa5;
background-color:white;
color: #00bfa5;
   }

.upload{
}

.who_are{
margin-top:-15px !important;
font-size:14px;font-weight:bold;
}

.contact-box{

}

.search{
}

.search input:focus {

}




.home_nav li a:hover {
  border-bottom:solid;
}



.follow_button {}
.follow_button:hover { background-position: right center; }

body{
background-color:
}


.my_button {
border-radius:20px !important;
color:#607d8b !important;
}

.my_button:hover { background-position: right center; }

.share-button{

}

.copied-button{
}

.more-icons i{
color:red;
}

.video-col{
border:15px solid white;
border-radius:;
}

.video-col video{
border-radius:;
}

.more-video-button{
background-color:grey;
border-radius:4px;
}

.more-video-button a:focus{
border-bottom:2px solid #f44336 !important;
background-color:#f5f5f5 !important;
color: #f44336 !important;
}


.edu-head{
font-size:20px;
}

.date{
padding-top:5px;
font-size:14px;
font-weight:600;
color:;

}




.{
padding-left:20px;
}

.resume-head-sec{
border-left:;padding-left:20px;padding-right:20px;
}

.edu_box{
margin-top:-10px !important;
padding-left:20px !important;
margin-left:1px !important;
}

.edu_box a{
visibility:hidden;
}
.edu_box:hover a{
visibility:visible;
}

.outer-column{
margin-left:20px !important;
}


.add:hover a{
background-color:#e0e0e0;
border-radius:15px;
}


.pro-section{
border-left:solid green 2px;padding-left:20px;
}

.work_info{
margin-top:5px;
font-size:14px;
font-weight:600;
color:#616161;
margin-left:8px;
padding-right:10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute !important;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.more-icons
{
float:right;}

.drop-div{

float:right;
}


.dropdown-content{
   width: max-content !important;
   height:auto !important;
   margin:0px; !important;
   padding:0px;
   position:relative;
   float:right;
}

.sticky  {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0 !important;

}

.add_button {align:center;margin-top:20px;}
.add_button {}


textarea.materialize-textarea{height:40px !important;}

.edit_button{
margin-left:10px;
font-size:14px;
font-weight:600;
color:#616161;
margin-left:8px;
}




.col.s12 > .btn {
   width: 100%;
}

.skill-box{
border:1px solid #009688;
padding:2px;
text-align:center;
margin-right:2px;
border-radius:5px;
margin-top:2px;
}


.skill_col{
margin-top:10px;
}

.skill_col a{
visibility:hidden;
}
.skill_col:hover a{
visibility:visible;
}


.profile-image a{
visibility:hidden;
}
.profile-image:hover a{
visibility:visible;
}


.profile-box a{
  position: relative;
  margin-top:100px;
  margin-left:-114px;
  background-color:black;
  color: white;
  visibility:hidden;

}

.profile-box:hover a{
  position: relative;
  margin-top:100px;
  margin-left:-114px;
  background-color:black;
  color: white;
  visibility:visible;
  border-radius:50px;

}

.name{
font-size:20px;font-weight:bold;
}

.nav-ul li{
margin-left:5px;
}
.nav-form input[type='text'],.nav-form input[type='password']{
  width: 100% !important;
  height:20px !important;
  padding:20px !important;
  margin-left:0px;
  display: inline-block;
  border: 1px solid #ffffff !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  color:white !important;

}


.nav-form input[type='search']{
  width: 100% !important;
  height:20px !important;
  padding:20px !important;
  margin-left:0px;
  display: inline-block;
  border: 1px solid #ffffff !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  color:black !important;

}


.registration-ul li{
list-style-type:square !important;
}

.registration-ul p{
font-weight:550;
font-size:18px;
}




.signup-label{
color:black !important;
}

.signup-form ::placeholder{
color:#9e9e9e !important;
}

.gen-form{
margin-top:40px;
padding:20px;
border:1px solid #bdbdbd;
background-color:white;
}

.education-form label{
color:#424242 !important;
}


.text-form input[type="textarea"]
{
height:400px !important;
background-color:blue;
}

.gen-form::placeholder{
color:#9e9e9e !important;
}

.loader{
visibility:hidden;
}

#main {
    flex: 1 0 auto;
}

.main-nav{
color:#3F3D56 !important;
}

.home-center img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}


.more-video-button{
background-color:#e0e0e0 !important;
border-radius:0px;
}