{% extends 'dashboard/base.html' %}
{% block title %}taloscope | education{% endblock %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<div class="container grey-darken-2 ">
    <div class="row">
    <div class="col s12 " style="margin-top:20px;"> <button class="btn-floating btn-flat waves-effect grey lighten-1" onclick="goBack()"><i class="material-icons">arrow_back</i></button></div>
        </div>
<div class="row gen-form" style="">
      <div class="row" >
          <div class="col s12 center-align"><h4>Add Education</h4></div>
      </div>
    <div class="divider"></div>
<form  method="POST" class="row education-form">
    {% csrf_token %}
    <div class="masters row z-depth-2" style="padding:20px;">
        <div class="row">
            <div class="col s12 left-align"><h5 class="teal-text text-darken-2" style="font-weight:50px;">Post Graduate Education</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">school</i>
<label for="id_masters_degree_name">Masters degree title:</label> <input type="text" name="masters_degree_name" value="{{profile.masters_degree_name}}" maxlength="150" id="id_masters_degree_name" />
            </div>
            <div class="col s6 input-field">
                <i class="material-icons prefix">location_city</i>
<label for="id_masters_college_name">Masters college name:</label> <input type="text" name="masters_college_name" value="{{profile.masters_college_name}}" maxlength="150" id="id_masters_college_name" />
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">date_range</i>
<label for="id_masters_education_from">Masters education from:</label> <input type="text" name="masters_education_from" value="{{profile.masters_education_from|date:'Y-m-d'}}" id="id_masters_education_from" /><input type="hidden" name="initial-masters_education_from" value="{{date}}" id="initial-id_masters_education_from" />
            </div>
            <div class="col s6 input-field">
                <i class="material-icons prefix">date_range</i>
<label for="id_masters_education_till">Masters education till:</label> <input type="text" name="masters_education_till" value="{{profile.masters_education_till|date:'Y-m-d'}}" id="id_masters_education_till" /><input type="hidden" name="initial-masters_education_till" value="2019-06-16" id="initial-id_masters_education_till" />
                </div>
        </div>
        </div>
    <!---bachelors--->
    <div class="masters row z-depth-2" style="padding:20px;">
         <div class="row">
            <div class="col s12 left-align"><h5 class="teal-text text-darken-2" style="font-weight:50px;">Undergraduate Education</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">school</i>
<label for="id_bachelors_degree">Bachelors degree title:</label> <input type="text" name="bachelors_degree" value="{{profile.bachelors_degree}}" maxlength="150" id="id_bachelors_degree" />
            </div>
                <div class="col s6 input-field">
                    <i class="material-icons prefix">location_city</i>
<label for="id_bachelors_college_name">Bachelors college name:</label> <input type="text" name="bachelors_college_name" value="{{profile.bachelors_college_name}}" maxlength="150" id="id_bachelors_college_name" />
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">date_range</i>
<label for="id_bachelors_education_from">Bachelors education from:</label> <input type="text" name="bachelors_education_from" value="{{profile.bachelors_education_from|date:'Y-m-d'}}" id="id_bachelors_education_from" /><input type="hidden" name="initial-bachelors_education_from" value="{{date}}" id="initial-id_bachelors_education_from" />
            </div>
            <div class="col s6 input-field">
                <i class="material-icons prefix">date_range</i>
<label for="id_bachelors_education_till">Bachelors education till:</label> <input type="text" name="bachelors_education_till" value="{{profile.bachelors_education_till|date:'Y-m-d'}}" id="id_bachelors_education_till" /><input type="hidden" name="initial-bachelors_education_till" value="{{date}}" id="initial-id_bachelors_education_till" />
            </div>
        </div>
    </div>
    <!---High School--->
    <div class="masters row z-depth-2" style="padding:20px;">
         <div class="row">
            <div class="col s12 left-align"><h5 class="teal-text text-darken-2" style="font-weight:50px;">High School</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">school</i>
<label for="id_High_School_degree">High School degree:</label> <input type="text" name="High_School_degree" maxlength="150" id="id_High_School_degree" value="{{profile.High_School_degree}}"/>
            </div>
        <div class="col s6 input-field">
            <i class="material-icons prefix">location_city</i>
<label for="id_High_School_name">High School name:</label> <input type="text" name="High_School_name" maxlength="150" id="id_High_School_name" value="{{profile.High_School_name}}"/>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
<label for="id_High_School_from">High School from:</label> <input type="text" name="High_School_from" value="{{profile.High_School_from|date:"Y-m-d"}}" id="id_High_School_from" /><input type="hidden" name="initial-High_School_from" value="2019-06-16" id="initial-id_High_School_from" />
                </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
<label for="id_High_School_till">High School till:</label> <input type="text" name="High_School_till" value="{{profile.High_School_till|date:"Y-m-d"}}" id="id_High_School_till" /><input type="hidden" name="initial-High_School_till" value="2019-06-16" id="initial-id_High_School_till" />
                </div>
            </div>
    </div>
    <div class="masters row z-depth-2" style="padding:20px;">
         <div class="row">
            <div class="col s12 left-align"><h5 class="teal-text text-darken-2" style="font-weight:50px;">Junior School</h5>
            </div>
        </div>
           <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">school</i>
<label for="id_Junior_degree">Junior Degree:</label> <input type="text" name="Junior_degree" maxlength="150" id="id_Junior_degree" value="{{profile.Junior_degree}}"/>
            </div>

            <div class="col s6 input-field">
                <i class="material-icons prefix">location_city</i>
<label for="id_Junior_School_name">Junior School Name:</label> <input type="text" name="Junior_School_name" maxlength="150" id="id_Junior_School_name" value="{{profile.Junior_School_name}}"/>
            </div>
           </div>
        <div class="row">
            <div class="col s6 input-field">
                <i class="material-icons prefix">date_range</i>
<label for="id_Junior_School_from">Junior School From:</label> <input type="text" name="Junior_School_from" value="{{profile.Junior_School_from|date:'Y-m-d'}}" id="id_Junior_School_from" /><input type="hidden" name="initial-Junior_School_from" value="2019-06-16" id="initial-id_Junior_School_from" />
            </div>
               <div class="col s6 input-field">
                   <i class="material-icons prefix">date_range</i>
<label for="id_Junior_School_till">Junior School End:</label> <input type="text" name="Junior_School_till" value="{{profile.Junior_School_till|date:'Y-m-d'}}" id="id_Junior_School_till" /><input type="hidden" name="initial-Junior_School_till" value="2019-06-16" id="initial-id_Junior_School_till" />
           </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align ">
            <button style="width:100%;" type="submit" class="waves-effect waves-light btn "><i class="material-icons center">file_upload</i>Add</button>
        </div>
    </div>
    </form>
</div>
</div>


<script>
    $(function () {
      $("#id_masters_education_from,#id_masters_education_till,#id_bachelors_education_from,#id_bachelors_education_till,#id_High_School_from,#id_High_School_till,#id_Junior_School_from,#id_Junior_School_till").datetimepicker({format: 'Y-m-d',});
    });
  </script>
{% endblock %}