{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <!--Import Google Icon Font-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'mystyle.css' %}"  media="screen,projection"/>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'my.js' %}"></script>
 <!-- Compiled and minified CSS
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color:#fafafa;">
<header>
  <nav style="">
    <div class="nav-wrapper main-nav blue-grey darken-3">
        {% if request.user.is_authenticated %}
            <a href="{% url 'home' username=request.user.username %}" class="brand-logo left">
            <img class="responsive-img" src="{% static 'images/images/taloscope6.png' %}" style="margin-left:30px;height:50px;" ></a>
        {% else %}
        <a href="{% url 'signin' %}" class="brand-logo left">
            <img class="responsive-img" src="{% static 'images/images/taloscope6.png' %}" style="margin-left:30px;height:50px;" ></a>
        {% endif %}
          <ul class="right" style="display:inline-block;margin-right:70px;">
              <li>
                  <form method="post" action="/search/" class="nav-form">
                      {% csrf_token %}
                      <div class="input-field" style="height:100%">
          <input class="" name="search" placeholder="search" id="search" type="search">
          <label class="" for="search"></label>
          <!--<i class="material-icons cyan-text text-darken-4">close</i>-->
                     </div>
                  </form>
              </li>
              <li class="top-icons">
                  <a href="{% url 'home' username=request.user.username %}" ><i class="material-icons white-text">home</i>
                  </a>
              </li>
              <li class="top-icons">
                  <a href="{% url 'stars' username=request.user.username %}"><i class="material-icons white-text ">star</i>
                  </a>
              </li>
              <li class="top-icons">
                  <a href="{% url 'logout' %}"><i class="material-icons white-text ">exit_to_app</i>
              </a>
              </li>
          </ul>
        </div>

    </nav>
</header>
<main>
  {% block content %}
  {% endblock %}
</main>
<footer class="page-footer grey lighten-4 black-text" style="">
          <div class="container">
            <div class="row">
              <div class="col s12">
                  <p><a href="{% url 'contact' %}">contact us</a></p>
                  <p>© 2014 Copyright taloscope.com</p>
                  <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
              </div>

            </div>
          </div>
</footer>
</body>
</html>