{% extends 'dashboard/base.html' %}
{% block title %}taloscope | upload image{% endblock %}
{% block content %}
<div class="container grey-darken-2 center-align ">
<div class="row  " style="padding=10px;margin:50px;">
      <div class="col s12"><h4>Upload Profile Picture</h4></div>
    <div class="col s12 ">
    <form  method="post" enctype="multipart/form-data">
              {% csrf_token %}
    <div class="file-field input-field ">
      <div class="btn">
        <span>Select File</span>
        <input name="file" type="file" value="">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="">
      </div>
    </div>
        <button class="btn waves-effect"><i class="material-icons left">file_upload</i>upload</button>
    </form>
        </div>
</div>
</div>
    {% endblock %}
