{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s5 white left" style="margin-top:20px;">
            <h4>stars given to you</h4>
             {% for people in liked_by %}
             <div class="col s4 z-depth-1 white" style="padding:5px;margin:10px;">
        <div class="row center">
            <div class="col s12" style="">
            <img src="{{people.profile_image.url}}" alt="" class="circle responsive-img" style="height:70px;width:70px;">
            </div><!-- notice the "circle" class -->
        <div class="col s12">
            <p style="font-weight:bold">{{people.user.get_full_name}}</p>
            <p style="margin-top:-20px;" class="grey-text">{{people.description}}</p>
            <span style="margin-top:-10px;font-size:12px;">skilled in:&nbsp;</span>
            {% for all in people.skills_set.all %}
            <span style="font-size:12px;margin-top:-10px;">{{all.name|truncatechars:7}},</span>
            {% endfor %}
        </div>
        <div class="col s12" style="margin-top:10px;">
                <a href="{% url 'profile' username=people.user.username %}" class="btn  white-text">view profile</a>

        </div>
        </div>
</div>
             {% endfor %}
        </div>
        <div class="col s5 white right" style="margin-top:20px;">
            <h4>stars given by you</h4>
        {% for each in likes %}
            <div class="col s4 z-depth-1 white" style="padding:5px;margin:10px;">
        <div class="row center">
            <div class="col s12" style="">
            <img src="{{each.profile_image.url}}" alt="" class="circle responsive-img" style="height:70px;width:70px;">
            </div><!-- notice the "circle" class -->
        <div class="col s12">
            <p style="font-weight:bold">{{each.user.get_full_name}}</p>
            <p style="margin-top:-20px;" class="grey-text">{{each.description}}</p>
            <span style="margin-top:-10px;font-size:12px;">skilled in:&nbsp;</span>
            {% for all in each.skills_set.all %}
            <span style="font-size:12px;margin-top:-10px;">{{all.name|truncatechars:7}},</span>
            {% endfor %}
        </div>
        <div class="col s12" style="margin-top:10px;">
                <a href="{% url 'profile' username=each.user.username %}" class="btn  white-text">view profile</a>

        </div>
        </div>
</div>
        {% endfor %}
        </div>

    </div>
</div>
{% endblock %}